<section class="banner_main">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-12">
            <div class="text-bg">
               <h1>Find Best Car Here For rent</h1>
               <strong>Up To</strong>
               <span>50% Discount <br> For 30Days & Above Rental</span>
               <p>
                  Read Our T&C Below
                  <head></head>
               </p>
               <%= link_to 'Term & Conditions', term_path %>
            </div>
         </div>
      </div>
   </div>
</section>
