<div  class="car">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>VARIETY OF CARS </h2>
               <span></span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 padding_leri">
            <div class="car_box">
               <figure><%= image_tag "car_img1.png" %></figure>
               <h3>Hundai</h3>
            </div>
         </div>
         <div class="col-md-4 padding_leri">
            <div class="car_box">
               <figure><%= image_tag "car_img2.png" %></figure>
               <h3>Audi</h3>
            </div>
         </div>
         <div class="col-md-4 padding_leri">
            <div class="car_box">
               <figure><%= image_tag "car_img3.png" %></figure>
               <h3>Bmw x5</h3>
            </div>
         </div>
      </div>
   </div>
</div>
