<div class="choose ">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Why Choose Us</h2>
               <span>Lots of travelers choose our car rental when they come to Kota Kinabalu, Sandakan, Tawau, Lahad Datu, Sabah, they are satisfied with our service & love the condition of our rental car. Therefore, these are some reasons why you should choose our services in Kota Kinabalu Car Rental, Sandakan Car Rental, Tawau Car Rental, and Lahad Datu Car Rental, Sabah. </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="choose_box">
               <span>01</span>
               <p>Variety Type Of Car (Clean & Comfortable). We provide variety type of car, you can choose car that suit you most.</p>
            </div>
         </div>
         <div class="col-md-12">
            <div class="choose_box">
               <span>02</span>
               <p>24/7 PickUp & Return Access Choose your pick up time, we will hatch you on time. Anytime.</p>
            </div>
         </div>
         <div class="col-md-12">
            <div class="choose_box">
               <span>03</span>
               <p>Easy Booking - We make everthing easy for you. Fill in the form, we will contact you ASAP.</p>
            </div>
         </div>
         <div class="col-md-12">
            <div class="choose_box">
               <span>04</span>
               <p>Multiple Drop-Off Locations - Just let us know your drop off location, we will hatch you there.</p>
            </div>
         </div>
      </div>
   </div>
</div>
