<strong>
  Terms and Conditions
  CHAUFFUER (CAR + DRIVER)
</strong>
<br>
<p>
  Driver working from 0800 – 1700. Overtime RM20.00 per hour
  Toll, parking charge & entrance ticket not included
  Overnight surcharge RM100.00 per night
</p>
<br>

<strong>
  SELF DRIVE (CAR ONLY)
</strong>
<br>
<strong>
  Delivery and Collection Fee
</strong>
<br>
<p>
  Delivery and collection within 10 KM radius will be FREE of charge. Delivery and collection above 10KM incur charges of MYR1.00 / KM. The hirer will be informed for the additional charge for delivery and collection.
  Additional charge of MYR15.00 per trip for delivery and collection before 08:00 and after 17:00.
</p>
<br>
<strong>
  Driver’s Age And Licence Reguirements
</strong>
<br>
<p>
  The drivers must be between 23 and 65 years old. Other nationals who hold a valid driving licence in English can drive in Malaysia for a maximum of 3 months. Probational license holders will not be accepted.
</p>
<br>
<strong>
  Minimum Rental
</strong>
<br>
<p>
  Minimum rental is one day (24 hours). Extension above 5 hours consider full day rate.
</p>
<br>
<strong>
  Mileage Policy
</strong>
<br>
<p>
  300KM per day.
</p>
<br>
<strong>
  Vehicle Collection
</strong>
<br>
<p>
  Please bring a photocopy of your identity card/passport, driving licences, business card or any relevant document to verify your working/home address.
</p>
During vehicle collection, the hirer is required to check for any damage or missing part to the vehicles. If the hirer found any damage or missing part before collect the vehicle please inform our staff immediately. Any damage or missing part that is not reported earlier will be considered under the hirer responsibility.
<br>
<strong>
  Insurance & Excess
</strong>
<br>
<p>
  All vehicles are fully insured with standard motor vehicle policy. However the hirer is responsible for excess not exceeding MYR2,000 (Group A), MYR3,000 (Group B), MYR5,000 (Group C) and MYR10,000 (Group D).
</p>
<br>
<p>
  The hirer can reduce the excess to MYR500 (Group A – B) and MYR1,000 (Group C – D) by purchasing optional Excess Protection for MYR20.00 per day (Group A), MYR30.00 per day (Group B), MYR40.00 per day (Group C) and MYR50.00 per day (Group D).
</p>
<br>
<p>
  All insurance and excess protection do not apply for damage or lost due to careless action, negligence, illegal or improper use of the vehicle. The insurance and excess protection also not cover for tyre punctures, burst tyres, fuel errors, battery damage because of forgotten turned off electrical devices and loss or damage to the vehicle accessories.
</p>
<br>
<p>
  The accident or damage only applies for collision between two moving objects. Any damage while the vehicle is stationary will be under hirer’s full responsibility and subjected to the above excess and excess protection.
</p>
<br>
<p>
  For damage which involves a third party, the hirer is required to get information from the third party driver which include the driver’s name, IC/Passport, driving licence and vehicle registration number. If the claim cannot be made against third party insurance, all damage will be under hirer’s responsibility and subjected to the above excess or excess protection.
</p>
<br>
<p>
  The hirer is reminded that underbody and overhead damage is at their own risk at all time. All insurance and excess protection is void if the vehicle is driven on unsealed and unmade road or surface.
</p>
<br>
<p>
  The hirer is required to contact our representatives to inform us for any event of accidents or car theft.
</p>
<br>
<p>
  A police report should be made within 24 hours after the accidents or from the time you’ve found out the theft or loss. The police report should be obtained in writing.
</p>
<br>
<strong>
  Deposit
</strong>
<br>
<p>
  No security deposit if hirer can provide relevant document such as identity card/passport, driving licenses, business card or any relevant document to verify your working/home address.
</p>
<br>
<strong>
  Penalties
</strong>
<br>
<p>
  Smoking is prohibited inside the car. Penalty MYR300 will be charged for cleaning any unpleasant odour.
</p>
<br>
<p>
  All traffic/parking summons (if any) will be under hirer responsibility. Penalty MYR50 will be charged if the customer failed to pay the summons within the time specified after we send notification.
</p>
For long term rental, the hirer is responsible to return the car at our nearest branch if the car is due for servicing. We reserve the right to charge penalty of MYR1.00 per KM after 500 KM exceeding the service limit.
<br>
<strong>
  Speed Limit
</strong>
<br>
<p>
  Speed limit for highway in Malaysia is 110 KM/hr, while normal road is 90 KM/hr. Please drive carefully and obey traffic rules.
</p>
<br>
<strong>
  Returning The Vehicle
</strong>
<br>
<p>
  Please inform us if you want to return or extend the rental.
</p>
<br>
<strong>
  Cancellation Policy
</strong>
<br>
<p>
  All cancellation must be notified 24 hours before the booking date. We reserve the right to charge full day rental for cancellation less than 24 hours.
</p>
In the event of early termination or before the rental agreement period end, the hirer has no right to refund any or part of the charges.
